<head>
    <style>
    html, body {
  height: 100%;
  margin: 0;
}
    #channel_nav{
      display:none;
    }
    #sidenav{
      background-color:black;
    }
    ul#sidenavul1{
      list-style-type:none;
      margin:0;
      overflow:hidden;
      padding:0;
    }
    ul#sidenavul1 li{
      float:left;
      display:block;
      width:100%;
      margin:0;
    }
    ul#sidenavul1 li a{
      
      display:block;
      text-align:left;
      font-size:18px;
      color:springgreen;
      padding:10px;
      text-decoration:none;
      padding-left:10%;
      font-family:Courier New, monospace
    }
    ul#sidenavul1 li a:hover{
      background-color:springgreen;
      color:black;
    }
    a#myname:hover {
      background-color:grey;
      
    }
    ul#sidenavul2{
      list-style-type:none;
      margin:0;
      overflow:hidden;
      padding:0;
    }
    ul#sidenavul2 li{
      float:left;
      display:block;
      width:100%;
      margin:0;
    }
    ul#sidenavul2 li a{
      
      display:block;
      text-align:left;
      font-size:18px;
      color:springgreen;
      padding:10px;
      text-decoration:none;
      padding-left:10%;
      font-family:Courier New, monospace;
    }
    ul#sidenavul2 li a:hover{
      background-color:springgreen;
      color:black;
    }
    
    </style>
</head>
<body>
<div id="sidenav" style="z-index:3;width:350px;height:100%;position:fixed;top:0;left:0;font-family:Courier New, monospace">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, t("#{msg}"), class: "alert alert-info" %>
    <% end %>
    
    <p style="font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace">
    <div class="dropdown">
    <p class="dropdown-toggle" data-toggle="dropdown" style="font-size:18px;text-align:center;cursor:pointer;color:springgreen;">
    <%= session[:currentworkspace] %>
    <span class="caret"></span></p>
    <ul class="dropdown-menu" >
    <li><a href="<%= session[:fullpath]%>/createworkspace" style="cursor: pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;"><%= t 'createworkspace' %></p></a></li>
    <li><a href="<%= session[:fullpath]%>/invite_wsmember" style="cursor: pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;"><%= t 'invitemember' %></p></a></li>       
    <% if session[:user]["id"] == session[:workspace_owner] %>
        <li><a href="<%= session[:fullpath]%>/editworkspace_<%= session[:user]['currentworkspace']%>" style="cursor: pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;"><%= t 'editworkspace' %></p></a></li>
        <li><a href="<%= session[:fullpath]%>/delws_<%= session[:user]['currentworkspace']%>" style="cursor: pointer;"><p style="font-size:18px;padding:2% 0;color:black;font-family:Courier New, monospace;"><%= t 'deleteworkspace' %></p></a></li>
    <% else %>
        
    <% end %>
   
    </ul>
  </div>
    </p>
    <div style="width:50%;background-color:#2d2e30;border-radius:10px;display:block;margin:0 auto;margin-top:10%;">
      
      <%= link_to image_tag("user1.jpg", alt: "user photo",style:"width:100%;height:100%;border-radius:100%;"),
      '' %>
      <div style="background-color:grey;color:black;text-align:center;font-size:18px;height:100%;width:100%;"><a id="myname" href="<%= session[:fullpath]%>" style="color:white;"><%= session[:user]["name"] %></a></div>
    </div>
    
    <hr style="border:1px solid black;">
    <hr style="border:1px solid black;">
    <ul id="sidenavul1">
    <p onclick="open_channel_nav()" style="cursor:pointer;font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace"><%= t 'channel' %><i class="fa fa-cog"></i></p>
    <div style="background-color:white;overflow:hidden;" id="channel_nav">
      <li><a style="color:black;" href="<%= session[:fullpath]%>/createchannel"><%= t 'createchannel' %></a></li>
    </div>
    <% @group.each do |a| %>
      <% mygp = 0 %>
      <% @uhgs.each do |uhg| %>
        <% if uhg.group_id == a.id and uhg.user_id == session[:user]["id"] %>
            <% mygp = 1 %>
        <% end %>
      <% end %>
      <% if mygp == 1 %>
        
        <% if a.types == "private" %>
          <li><a href="<%= session[:fullpath]%>/views_<%=a.id %>"><%= a.name %><span style="color:white;float:right;"><i class="fa fa-lock" style="font-size:18px;cursor:pointer;"></i></span></a></li>
        <% else %>
          <li><a href="<%= session[:fullpath]%>/views_<%=a.id %>"><%= a.name %><span style="color:white;float:right;"><i class="fa fa-globe" style="font-size:18px;cursor:pointer;"></i></span></a></li>
        <% end %>
      <% else %>
        <% if a.types == "public" %>
          <li><a href="<%= session[:fullpath]%>/views_<%=a.id %>"><%= a.name %><span style="color:white;float:right;"><i class="fa fa-globe" style="font-size:18px;cursor:pointer;"></i></span></a></li>
        <% end %>
      <% end %>
      
    <% end %>
    
    </ul>
    
  
    <hr style="border:1px solid black;">
    <div id="sidenavul2">
    <p style="cursor:pointer;font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace"><%= t 'directmessages' %></p>
      <% @uhw.each do |a| %>
        <div style="padding:5px 10px;"><a href="<%= session[:fullpath]%>#" style="color:springgreen;font-size:18px;"><%= a.user.name %></a>
        <% if session[:user]["id"] == session[:workspace_owner] %>
    
          <span style="color:red;float:right;"><i class="fa fa-trash" onclick="removewsmember(this)" style="font-size:18px;cursor:pointer;" data-toggle="modal" data-target="#myModal" uhw_id="<%= a.id %>"></i></span>
        <% end %>
        </div>
      <% end %>
    
    </div>
    <hr style="border:1px solid black;">
    <div style="">
    <p style="font-size:24px;padding:2% 0;color:white;font-family:Courier New, monospace"><%= t 'setting' %></p>
      <div style="padding:10px;">
      <p><a href="<%= session[:fullpath]%>#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;"><%= t 'accsetting' %></a></p>
      <p><a href="<%= session[:fullpath]%>#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;"><%= t 'textformatsetting' %></a></p>
      <p><a href="<%= session[:fullpath]%>#" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;"><%= t 'privacy' %></a></p>
      <p><a href="<%= session[:fullpath]%>/logout" style="text-decoration:none;color:white;font-family:Courier New, monospace;font-size:18px;display:block;padding:2% 0;"><%= t 'logout' %></a></p>
    
      </div>
    </div>
    
</div>
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="background-color:red;color:white;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><%=t("removememberfromtheworkspace")%></h4>
        </div>
        <div class="modal-body">
        <%=t("areyousurewanttoremovememberfrom")%><%= session[:currentworkspace] %> ?
        </div>
        <div class="modal-footer">
        <%= form_tag("/removeworkspacemember", method: "post") do %>
          <input class="form-control" type="hidden"  name="uhw_id" id="uhw_id">
          <input type="submit" name="submit" class="btn btn-danger" style="background-color:red;" value="<%= t 'kick' %>" >
          
        <% end %>
        </div>
      </div>
      
    </div>
  </div>
  
    <script>
    $(document).ready(function(){
      $("#sidenav").mouseenter(function(){
        $("#sidenav").css("overflow", "auto");
      });
      $("#sidenav").mouseleave(function(){
        $("#sidenav").css("overflow", "hidden");
      });
    });

    function open_channel_nav(){
      if(document.getElementById("channel_nav").style.display == "block")
        document.getElementById("channel_nav").style.display = "none";
      else
        document.getElementById("channel_nav").style.display = "block";
        
    }
    function removewsmember(a){
          var wsid = a.getAttribute("uhw_id");
          document.getElementById("demo").innerHTML = wsid;
          document.getElementById("uhw_id").value = wsid;
      }
    </script>
</body>