<head>
    <style>
    input[type=submit]{
        border-radius:15px;font-family:time new roman;font-size:18px;
        color:black;
        font-weight:bold;
        background-color:springgreen;
        border:2px solid black;
        height:40px;
    }
    .stars{
        font-size:24px;color:grey;
    }
    .reply{
        margin:0 15px;
        font-size:24px;
    }
    .reply:hover{
        
        font-size:30px;
    }
    .stars:hover {
        color:yellow;
    }
    
    .messagedelete{
        text-decoration:none;
    }
    .messagedelete i{
        float:right;font-size:24px;
    }
    .messagedelete:hover i{
        background-color:white;
        font-size:30px;
    }
    .replytext2{
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image:image-url('reply.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        display:none;
    }
    .replytext1{
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image:image-url('reply.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        display:none;
    }
    .replytext2:focus {
        width: 100%;
    }
    .replytext1:focus{
        width: 100%;
    }
    .replyhr{
        display:none;
        border:none;
    }
    .anotherthreadmessagebox{
        display:none;
    }
    
    .mythreadmessagebox{
        display:none;
    }
    </style>
</head>
<body onload="onloadfunction()">
<%= render template:"home/sidenav" %>
<div style="background-color:grey;position:absolute;right:0;left:0;top:0;bottom:0;padding-left:351px;">
    <div style="height:10%;width:100%;background-color:#005073">
    
        <div class="dropdown" style="float:left;margin-top:2%;margin-left:1%;color:white;">
            <i style="font-size:24px;color:white;" class="dropdown-toggle fa fa-cog" type="button" data-toggle="dropdown" ></i>
            <span style="text-align:right;font-size:20px;padding-left:2px;"><%= @mygroup.name %></span>
            <% mygroup = 0 %>
            <% @uhg.each do |uhg| %>
                <% if uhg.user_id == session[:user]["id"] %>
                    <% mygroup = 1 %>
                <% end %>
                
            <% end %>
            
            <% if mygroup == 1 %>
                <ul class="dropdown-menu">
                <li><a href="/edit_channel_<%=@mygroup.id %>"><%= t 'editchannel' %></a></li>
                
                <li><a href="/dels_<%=@mygroup.id %>"><%= t 'deletechannel' %></a></li>
                </ul>
                
            <% end %>
        </div>
        
    </div>
    
    <div id="messagebox" style="width:100%;height:90%;background-color:white;overflow:scroll;padding:10px;">
    <p id="demo"></p>
    <% anothermessagecount = 0 %>
    <% mymessagecount = 0 %>
    <ul style="list-style-type:none;">
    <% @groupmessage.each do  |gm| %>
        <% if gm.user_id == session[:user]["id"] %>
            <% mymessagecount += 1 %>
        
            <div style="border-top:1px solid #EEE;border-bottom:1px solid #EEE;padding:1%;">
           
                <div>
                <%= link_to image_tag("tom.png", alt: "tom",style:"width:40px;height:40px;"),
              '' %><%= gm.user.name  %> <%=gm.created_at  %>
              <% mygroup = 0 %>
                <% @uhg.each do |uhg| %>
                    <% if uhg.user_id == session[:user]["id"] %>
                        <% mygroup = 1 %>
                    <% end %>
                    
                <% end %>
                
                <% if mygroup == 1 %>
                    <a class="messagedelete" href="delmg_<%=gm.id %>" style=""><i class="fa fa-trash" style="color:red;"></i></a>    
                    <i  onclick="replyfunction1(this)" messagecount="<%= mymessagecount %>" gmid1="<%=gm.id %>" class="fa fa-reply-all reply text-primary" style="float:right;"><br><span id="replydemo" style="font-size:18px;">Reply</span></i>
                <% end %>
                </div>
                <div style="text-align:justify;font-size:18px;padding:1% 0;">
                    <div style="background-color:#0084ff;border-radius:15px;color:white;padding:7px;font-size:18px;display:inline-block;">
                    
                    <% if gm.message.nil? %>
                    <% else %>
                        <% if gm.message.index("@") %>
                            
                            <li><a href="#" style="color:white;border-bottom:1px solid blue;text-decoration:none;"><%= gm.message %> </a></li>
                        <% else %>
                            <li><%= gm.message %> </li>
                        <% end %>
                    <% end %>
                    </div>                   
                       
                    <% gtmsize = 0 %>
                    <% @gtm.each do |gtm| %>
                        <% if gtm.groupmessage_id == gm.id %>    
                            <% gtmsize += 1 %>
                        <% end %>
                    <% end %>
                    <span>
                        <% if gtmsize == 0 %>
                        
                        <% else %>
                            <span style="margin-left:10px;font-size:18px;font-weight:bold;cursor:pointer;" mymessagecount="<%= mymessagecount %>" onclick="showthreadmessage1(this)">Reply<span class="badge " style="background-color:red;color:white;margin-left:4px;"><%= gtmsize %></span></span>
                        <% end %>
                        
                    </span>
                    

                    <hr class="replyhr">
                    <div style="padding:10px 0 5px 0;" class="mythreadmessagebox">
                    <ul style="list-style-type:none;">
                    <% @gtm.each do |gtm| %>
                        <% if gtm.groupmessage_id == gm.id %>    
                            <% if gtm.user_id == session[:user]["id"] %>

                                <li>
                                <%= link_to image_tag("user1.jpg", alt: "user1",style:"width:40px;height:40px;"),
          '' %><%= gtm.user.name%> <%=gm.created_at  %><br><div style="margin-left:40px;background-color:#0084ff;border-radius:15px;color:white;padding:7px;font-size:18px;display:inline-block;">
                                <%= gtm.message %></div></li>
                            <% else %>
                                <li><%= link_to image_tag("user1.jpg", alt: "user1",style:"width:40px;height:40px;"),
                                '' %><%= gtm.user.name%> <%=gm.created_at  %><br><div style="margin-left:40px;background-color:#dfdfdf;border-radius:15px;color:black;padding:7px;font-size:18px;display:inline-block;">
                                <%= gtm.message %></div></li>
                            <% end %>
                            
                        <% end %>
                    <% end %>
                    </ul>
                    </div>

                    <%= form_tag("/reply", method: "post",id:"replyform") do %>
    
                        <input type="text" name="message"  class="replytext1 form-control" placeholder="Reply" autofocus>
                        <input type="hidden" class="gmid1" name="groupmessage_id">
                        <input type="submit" name="submit" style="display:none">
                    <% end %>
                     
                </div>
            </div>
        <% else %>
            
            <% anothermessagecount += 1 %>
            <div style="border-top:1px solid #EEE;border-bottom:1px solid #EEE;padding:1%;">
            <div>
            <%= link_to image_tag("user1.jpg", alt: "user1",style:"width:40px;height:40px;"),
          '' %><%= gm.user.name%> <%=gm.created_at  %>
                <% mygroup = 0 %>
                <% @uhg.each do |uhg| %>
                    <% if uhg.user_id == session[:user]["id"] %>
                        <% mygroup = 1 %>
                    <% end %>
                    
                <% end %>
                
                <% if mygroup == 1 %>   
                    <a class="messagedelete" href="delmg_<%=gm.id %>" style=""><i class="fa fa-trash" style="color:red;padding-left:23px;"></i></a>    
                
                        <% if gm.favourite == true %>
                            <i  onclick="gofavourite(this)" star_id="<%=gm.id %>" class="fa fa-star stars" style="float:right;color:yellow"></i>
                        <% else %>
                            <i  onclick="gofavourite(this)" star_id="<%=gm.id %>" class="fa fa-star stars" style="float:right;"></i>
                        <% end %>
                    <i  onclick="replyfunction2(this)" messagecount="<%= anothermessagecount %>" gmid2="<%=gm.id %>" class="fa fa-reply-all reply text-primary" style="float:right;"><br><span id="replydemo" style="font-size:18px;">Reply</span></i>
                <% end %>
                </div>
                <div style="text-align:justify;font-size:18px;padding:1% 0;">
                    <div style="background-color:#dfdfdf;border-radius:15px;color:black;padding:7px;font-size:18px;display:inline-block;">
                    <% if gm.message.nil? %>
                    <% else %>
                        <% if gm.message.index("@") %>
                            <li><a href="#" style="color:#0084ff;border-bottom:1px solid blue;text-decoration:none;"><%= gm.message %> </a></li>
                        <% else %>
                            <li><%= gm.message %> </li>
                        <% end %>
                    <% end %>
                        
                    </div>
                    <% gtmsize = 0 %>
                    <% @gtm.each do |gtm| %>
                        <% if gtm.groupmessage_id == gm.id %>    
                            <% gtmsize += 1 %>
                        <% end %>
                    <% end %>
                    <span>
                        <% if gtmsize == 0 %>
                        
                        <% else %>
                            <span style="margin-left:10px;font-size:18px;font-weight:bold;cursor:pointer;" anothermessagecount="<%= anothermessagecount %>" onclick="showthreadmessage2(this)">Reply<span class="badge " style="background-color:red;color:white;margin-left:4px;"><%= gtmsize %></span></span>
                        <% end %>
                        
                    </span>
                    <hr class="replyhr">
                    <div style="padding:10px 0 5px 0;" class="anotherthreadmessagebox">
                    <ul style="list-style-type:none;">
                    <% @gtm.each do |gtm| %>
                        <% if gtm.groupmessage_id == gm.id %>    
                            <% if gtm.user_id == session[:user]["id"] %>

                                <li>
                                <%= link_to image_tag("user1.jpg", alt: "user1",style:"width:40px;height:40px;"),
          '' %><%= gtm.user.name%> <%=gm.created_at  %><br><div style="margin-left:40px;background-color:#0084ff;border-radius:15px;color:white;padding:7px;font-size:18px;display:inline-block;">
                                <%= gtm.message %></div></li>
                            <% else %>
                                <li><%= link_to image_tag("user1.jpg", alt: "user1",style:"width:40px;height:40px;"),
                                '' %><%= gtm.user.name%> <%=gm.created_at  %><br><div style="margin-left:40px;background-color:#dfdfdf;border-radius:15px;color:black;padding:7px;font-size:18px;display:inline-block;">
                                <%= gtm.message %></div></li>
                            <% end %>
                            
                        <% end %>
                    <% end %>
                    </ul>
                    </div>
                    <%= form_tag("/reply", method: "post",id:"replyform") do %>
    
                        <input type="text" name="message"  class="replytext2 form-control" placeholder="Reply" autofocus>
                        <input type="hidden" class="gmid2" name="groupmessage_id">
                        <input type="submit" name="submit" style="display:none">
                    <% end %>
                </div>
            </div>
        <% end %>
    <% end %>
    </ul>
    </div>
    <%= form_tag("/views_#{@mygroup.id}", method: "post",id:"form1" ,style:"transform:translate(0,-100%);") do %>
        <% mygroup = 0 %>
        <% @uhg.each do |uhg| %>
            <% if uhg.user_id == session[:user]["id"] %>
                <% mygroup = 1 %>
            <% end %>
            
        <% end %>
        
        <% if mygroup == 1 %>
        <input type="input" name="message" class="form-control" list="browsers" style="border:2px solid black;height:40px;border-bottom:2px solid black;border-radius:15px;" required>
        
        <datalist id="browsers">
        <% @datalist_users.each do |datalist_usr| %>
            <% if datalist_usr.user.id == session[:user]["id"] %>
            <% else %>
                <option value="@<%= datalist_usr.user.name %>">

            <% end %>
        <% end %>
  
</datalist>
        <button style="background-color:white;position:fixed;bottom:2px;right:2px;height:36px;width:60px;font-size:18px;border-radius:0 15px 15px 0;border:none;"><i class="fa fa-paper-plane" style="color:black;"></i></button>
        <% end %>
    <% end %>
    <%= form_tag("/gostar", method: "post",id:"form2" ,style:"transform:translate(0,-100%);") do %>
        <input type="hidden" name="star_id" id="star_hidden" >
    <% end %>
</div>
<script>
            function gofavourite(a){
                var demo = a.getAttribute("star_id");
                document.getElementById("star_hidden").value = demo;
                document.getElementById("demo").innerHTML = document.getElementById("star_hidden").value;
                document.getElementById("form2").submit()
            }
            function onloadfunction(){
                document.getElementById("messagebox").scrollTop = document.getElementById("messagebox").scrollHeight;
                
            }
            function replyfunction1(a){
                var count = a.getAttribute("messagecount");
                var gmid2 = a.getAttribute("gmid1");
                var i;
                for(i=0;i<count;i++){
                    
                    document.getElementsByClassName("replytext1")[i].style.display = "none";
                }
                document.getElementsByClassName("replytext1")[count-1].style.display = "block";
                document.getElementsByClassName("gmid1")[count-1].value = gmid2;
                var j;
                for(j=0;j<count;j++){
                    
                    document.getElementsByClassName("replyhr")[j].style.display = "none";
                }
                document.getElementsByClassName("replyhr")[count-1].style.display = "block";
                
            }
            function replyfunction2(a){
                var count = a.getAttribute("messagecount");
                var gmid2 = a.getAttribute("gmid2");
                var i;
                for(i=0;i<count;i++){
                    
                    document.getElementsByClassName("replytext2")[i].style.display = "none";
                }
                document.getElementsByClassName("replytext2")[count-1].style.display = "block";
                document.getElementsByClassName("gmid2")[count-1].value = gmid2;
                var j;
                for(j=0;j<count;j++){
                    
                    document.getElementsByClassName("replyhr")[j].style.display = "none";
                }
                document.getElementsByClassName("replyhr")[count-1].style.display = "block";
                
            }
            function showthreadmessage2(a){
                var count = a.getAttribute("anothermessagecount");
                if( document.getElementsByClassName("anotherthreadmessagebox")[count-1].style.display == "none"){
                    document.getElementsByClassName("anotherthreadmessagebox")[count-1].style.display = "block";
                }
                else{
                    document.getElementsByClassName("anotherthreadmessagebox")[count-1].style.display = "none";
                }

            }
            
            function showthreadmessage1(a){
                var count = a.getAttribute("mymessagecount");
                if( document.getElementsByClassName("mythreadmessagebox")[count-1].style.display == "none"){
                    document.getElementsByClassName("mythreadmessagebox")[count-1].style.display = "block";
                }
                else{
                    document.getElementsByClassName("mythreadmessagebox")[count-1].style.display = "none";
                }

            }
</script>
</body>